{% extends 'master.html' %}
{% block content %}
<div class="payment-form-container">
    <form method="post" action="">
        {% csrf_token %}
        <fieldset>
            <legend>Paying for {{ product.name }}</legend>
            <div class="form-group">
                <label for="price">Amount</label>
                <input id="price" name="price" class="form-control" value="{{ product.price }}" readonly type="text">
            </div>
            <div class="form-group">
                <label for="phone">Enter phone number (2547...)</label>
                <input id="phone" class="form-control" name="phone" type="text">
            </div>
        </fieldset>
        <div class="form-group">
            <input class="btn-submit" value="Pay" type="submit">
        </div>
    </form>
</div>

{% endblock %}